# blacklist all folders and files in root
/*

# ignore everything in the root except the following files.
!/README.md
!/wp-config-sample.php

# ignore everything in the root except the "cms-html" directory.
!/cms-html/

# ignore everything in the root except the "static" directory.
!/static/

# ignore everything in the root except the "wp-content" directory.
!/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
/wp-content/*
!/wp-content/mu-plugins/
!/wp-content/plugins/
!/wp-content/themes/

# ignore these plugins
/wp-content/plugins/akismet
/wp-content/plugins/hello.php

# ignore specific themes
/wp-content/themes/*

# except yes-revamp theme
!/wp-content/themes/yes-twentytwentyone

# ignore log files and databases
*.log
*.sql
*.sqlite

@ytl-al