# blacklist all folders and files in root
/*

# ignore everything in the root except the README.md document.
!/README.md

# ignore everything in the root except the "static" directory.
!/static/

# ignore everything in the root except the "wp-content" directory.
!/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
/wp-content/*
!/wp-content/mu-plugins/
!/wp-content/plugins/
!/wp-content/themes/

# ignore these plugins
/wp-content/plugins/akismet
/wp-content/plugins/hello.php

# ignore specific themes
/wp-content/themes/twenty*/

# except yes-revamp theme
!/wp-content/themes/yes-revamp

# ignore log files and databases
*.log
*.sql
*.sqlite

@ytl-al