/* 
    Stylesheet Name : Yes.my BetterDocs Overwrite
    Created on      : March     08, 2022, 11:08:23 AM
    Last edited on  : April     07, 2022, 11:42:26 PM
    Author          : [YTL Digital Design] - AL
*/

.betterdocs-single-wraper {}
.betterdocs-single-wraper p { margin-bottom: 15px; }
.betterdocs-single-wraper .docs-single-title .betterdocs-entry-title { margin: 0 0 20px; padding: 0; text-transform: none; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content, 
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content, 
#accordion-faqShortcode .accordion-body { text-align: justify; }
#accordion-faqShortcode .accordion-body { color: #4d4d4d; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content-heading, 
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content-heading, 
#accordion-faqShortcode .accordion-body h1 { font-size: 35px; margin-bottom: 12px; text-align: initial; }
#accordion-faqShortcode .accordion-body h1 { color: inherit; font-size: 28px; margin: 12px 0 8px; }
#accordion-faqShortcode .accordion-body h1:first-of-type { margin-top: 0; }
.betterdocs-content { overflow-y: auto; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content ol, .betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content ul,
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content ol, .betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content ul,
#accordion-faqShortcode .accordion-body ol, #accordion-faqShortcode .accordion-body ul { margin: 0 0 20px; padding: 0; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content ol li, .betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content ul li,
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content ol li, .betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content ul li,
#accordion-faqShortcode .accordion-body ol li, #accordion-faqShortcode .accordion-body ul li { margin: 0 0 15px; padding: 0; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content > ol > li::marker, .betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content > ul > li::marker,
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content > ol > li::marker, .betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content > ul > li::marker,
#accordion-faqShortcode .accordion-body > ol > li::marker, #accordion-faqShortcode .accordion-body > ul > li::marker { font-weight: bold; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content > ol, .betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content > ul, 
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content > ol, .betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content > ul, 
#accordion-faqShortcode .accordion-body > ol, #accordion-faqShortcode .accordion-body > ul { padding-left: 20px; }
.betterdocs-single-wraper .doc-single-content-wrapper .betterdocs-content img, 
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area .betterdocs-content img, 
#accordion-faqShortcode .accordion-body img { display: block; margin: 20px auto; max-width: 100%; }

.betterdocs-single-wraper .doc-single-content-wrapper table, 
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area table, 
#accordion-faqShortcode .accordion-body table { border-collapse: collapse; border-color: #333; border-style: solid; border-width: 1px 0 0 1px; margin: 20px 0; text-align: center; width: 100%; }
.betterdocs-single-wraper .doc-single-content-wrapper table th, .betterdocs-single-wraper .doc-single-content-wrapper table td, 
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area table th, .betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area table td, 
#accordion-faqShortcode .accordion-body table th, #accordion-faqShortcode .accordion-body table td { border-color: #333; border-style: solid; border-width: 0 1px 1px 0; padding: 5px; }
.betterdocs-single-wraper .doc-single-content-wrapper table th,
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area table th,
#accordion-faqShortcode .accordion-body table th { background-color: #0EADF1; color: #FFF; }
.betterdocs-single-wraper .doc-single-content-wrapper table td,
.betterdocs-single-wraper .docs-single-main .betterdocs-content-inner-area table td,
#accordion-faqShortcode .accordion-body table td {}

.betterdocs-search-form-wrap .betterdocs-live-search { display: none; }
.betterdocs-searchform .search-submit { border: 0; transition: all 0.3s ease-in-out; }

.betterdocs-category-wraper .betterdocs-content-area #betterdocs-sidebar,
.betterdocs-category-archive-wrapper .betterdocs-content-wrapper #betterdocs-sidebar { display: none; }

.betterdocs-wrapper.betterdocs-single-wrapper.betterdocs-single-layout-3 .betterdocs-content-wrapper { background-color: #FFF; }
.betterdocs-sidebar.betterdocs-sidebar-layout-3 .betterdocs-sidebar-content .betterdocs-single-category-wrapper .betterdocs-single-category-inner .betterdocs-category-header .betterdocs-category-header-inner { display: flex; justify-content: space-between; }

@media (max-width: 767px) {
    .betterdocs-searchform .betterdocs-search-category { border: 0; }
}