
   
    .share-modal {
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .share-modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        width: 100%;
        max-width: 500px;
    }

    .share-modal-content h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }

    .share-options {
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: space-between;
    }

    .share-options a {
        display: flex !important;
        gap: 5px !important;
        margin: 10px 0;
        text-decoration: none;
        color: #0073aa;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .share-options a:hover {
        text-decoration: underline;
    }

    .share-options img {
        width: 60px;
        transition: 0.3s;
    }

    .share-options img:hover {
        transform: scale(1.1);
    }

    .share-link {
        display: flex;
        position: relative;
        align-items: center;
    }
    
    .share-link input {
        width: 100%;
        border-radius: 5px;
        padding: 10px 15px;
        border: 1px solid #ddd;
        font-size: 14px;
        padding-right: 100px;
        color: #888;
    }

    .share-link button {
        border: 0;
        background: #ff0084;
        border-radius: 100px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .embed-section {
        margin: 0;
        padding: 0;
    }
    

    .embed-section input {
        width: 74%;
        border-radius: 5px;
        padding: 10px 15px;
        border: 1px solid #cbcbcb;
        font-size: 12px;
    }

    .embed-section button {
        border: 0;
        background: #ff0084;
        border-radius: 100px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 10px 20px;
    }

    .embed-section button:hover {
        background-color: #bd0162;
    }

    .share-options .embed-icon {
        width: 60px;
        height: 60px;
        margin: 10px 0 !important;
    }

    .share-options .embed-icon svg{
        width: 60px !important;
        height: 60px !important;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        color: #212529;
        width: 25px;
        height: 25px;
        line-height: 22px;
    }

    #embed-section {
        padding: 20px 0 0;
    }


    #embed-section  #embed-code {
        width: 100%;
        resize: none;
        overflow: hidden;
        padding: 10px;
        text-align: left;
        field-sizing: content;
        border: 1px solid #ddd;
        color: #888;
    }

    #embed-section  #embed-code:focus{
        outline: none !important;
        box-shadow: none !important;
    }

    #embed-section  #copy-embed {
        border-radius: 5px;
        padding: 6px 20px;
    }

    #copy-link {
        background-color: #ff0084 !important;
        color: white !important;
        padding: 0px 20px !important;
        border: none !important;
        cursor: pointer !important;
        border-radius: 5px !important;
        position: absolute !important;
        right: 9px !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: auto !important;
        height: 30px !important;
    }

    #copy-link:hover {
        background-color: #bd0162;
    }


.entry-content {
    background-color: #f5f6fa;
}

.hero-slider-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #ff0084
}

#hero-slider .carousel-item .container {
    height: 100%;
}

#hero-slider .carousel-item img {
    width: 100%;
    height: 405px;
    /*405*/
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#hero-slider .carousel-item .inner-content-sec.raya-h-tag {
    margin-top: 0;
}

#hero-slider .carousel-item article {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

#hero-slider .carousel-item .inner-content-sec {
    margin: 5% auto;
    padding: 0px 0 0 0%;
    /* position: absolute;
        top: 15%;
        left: 5%;
        z-index: 99; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
}

#hero-slider .carousel-item .inner-content-sec .title-sec {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
}

#hero-slider .carousel-item .inner-content-sec h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    color: #ffffff;
    letter-spacing: -0.02em;
    margin: 15px 0 15px;
    font-display: swap;
}

#hero-slider .carousel-item .inner-content-sec p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
    letter-spacing: -0.02em;
    font-display: swap;
}

#hero-slider .carousel-item .inner-content-sec .btn-arrow-sec {
    margin-top: 50px;
}

#hero-slider .carousel-item .inner-content-sec .btn-arrow-sec img {
    width: 25px;
    height: auto;
    margin: 0 auto;
}

#hero-slider .carousel-item .inner-content-sec .btn-sec {
    margin: 20px 0 0;
    padding: 0;
}

#hero-slider .carousel-item .inner-content-sec .btn-sec img {
    width: auto;
    height: 60px;
}

#hero-slider .carousel-item .inner-content-sec .pricing {
    width: 190px;
    display: flex;
    margin-top: 15px;
}

#hero-slider .carousel-item .inner-content-sec .pricing h4 {
    color: #FFF;
    font-weight: 800;
    font-size: 48px;
    line-height: 44px;
    padding-top: 0px;
    letter-spacing: -0.02em;
    position: relative;
    margin-left: 48px;
}

#hero-slider .carousel-item .inner-content-sec .pricing h4 span {
    font-weight: 500;
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 0;
    text-transform: uppercase;
}

#hero-slider .carousel-item .inner-content-sec .pricing h4 span b {
    font-size: 24px;
    font-weight: 600;
}

#hero-slider .carousel-item .inner-content-sec .pricing h4 sup {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    height: 40px;
    position: absolute;
    left: -45px;
    top: 0px;
}

#hero-slider .carousel-item .inner-content-sec .pricing p {
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: none;
    margin: -15px 0;
    padding: 0;
}

#hero-slider .carousel-item .inner-content-sec .pricing .month-sec {
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

#hero-slider .carousel-indicators [data-bs-target] {
    height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
    border-top: 0;
    border-bottom: 0;
    background-color: #fff;
    margin-right: 5px;
    margin-left: 5px;
    opacity: .7;
}

#hero-slider .carousel-indicators .active {
    background: #ff0084;
}

.plan-section {
    align-items: center;
    justify-content: center;
    padding: 30px 0px 100px;
    background-color: #ff0084;
    background-image: linear-gradient(#ff0084, #bd0162);
    clip-path: ellipse(100% 100% at 50% 0%);
}

.plan-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.plan-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.plan-iner-sec {
    padding: 0px 0px;
    margin: 0px;
    height: auto;
    border-radius: 0 0 10px 10px;
    text-transform: uppercase;
}

.plan-iner-sec .top-text-box {
    position: relative;
}

.plan-iner-sec .top-text-box .content {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.plan-iner-sec .top-text-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 12px;
    text-transform: none;
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-iner-sec .top-text-box h3 span {
    background: #fff;
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 100px;
    color: #ff0084;
    margin-right: 10px;
}

.plan-iner-sec .box-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
}

.plan-iner-sec .box-container .box {
    width: 100%;
    height: 100%;
    position: relative;
    user-select: none;
    /* overflow: hidden; */
    border-radius: 0px;
    margin-top: 0px;
    border-right: 1px solid #FF0084;
    display: block;
}

.plan-iner-sec .box-container .box .by_default {
    background: unset;
    margin: 0px;
    border-radius: 0px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    padding: 0;
}

.plan-iner-sec .box-container .box .by_default li {
    padding: 10px 0;
    margin: 0;
    list-style: none;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}


/* .plan-iner-sec .box-container .box .by_default:before {
    content: "";
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    border: 2.5px solid;
    border-color: transparent transparent #ff0084 #ff0084;
    transform: rotate(-45deg);
} */

.plan-iner-sec .box-container .box .options {
    position: absolute;
    top: 4rem;
    left: 15%;
    z-index: 99;
    width: 13.5rem;
    border-radius: 5px;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    opacity: 0;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
}

.plan-iner-sec .box-container .box .options li {
    padding: 10px 10px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
    list-style-type: none;
    border-bottom: 1px solid #E8E9ED;
}

.plan-iner-sec .box-container .box .options .sharing p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.plan-iner-sec .box-container .box .sharing {
    display: flex;
    align-items: center;
}

.plan-iner-sec .box-container .box .sharing .form-select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    background-image: url('/wp-content/uploads/2024/09/arrow-down.png');
    background-size: 20px 11px;
    border: 0;
}

.plan-iner-sec .box-container .box .sharing p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #000;
    text-transform: none;
}

.plan-iner-sec .box-container .box .sharing .share-icon {
    margin-right: 0;
    margin-left: 2px;
}

.plan-iner-sec .box-container .box .sharing .share-icon img {
    width: auto;
    height: 42px;
}

.plan-iner-sec .box-container .box.active .options {
    opacity: 1;
    transform: translateY(0%);
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.plan-iner-sec .box-container .box.active .by_default:before {
    top: 28px;
    transform: rotate(-225deg);
}

/*filter section*/

.plan-details-sec {
    margin-top: 40px;
}

.prepaid-card {
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0 !important;
    height: 100%;
    position: relative;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
}

.prepaid-card .prepaid-card-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.prepaid-card .prepaid-card-detail .prepaid-card-detail-cont h3 {
    background: #2F3BF5;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    color: #fff;
}

.select-w .form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background-color: unset;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    text-align: center;
    background-image: url('/wp-content/uploads/2024/09/arrow-down-w.png');
    background-size: 19px 11px;
    margin-top: 5px;
}

.select-w .form-select option {
    color: #000;
}

.prepaid-card .prepaid-card-detail .section-head {
    position: relative;
    border-radius: 15px 15px 0 0;
    padding: 15px 20px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-head.yes {
    background-color: #ff0084;
}

.section-head.celcomdigi {
    background-color: #1360E5;
}

.section-head.maxis {
    background-color: #43C706;
    ;
}

.section-head.u_mobile {
    background-color: #FF7900;
}

.section-head.retailer_a {
    background-color: #CBCBCB;
}

.retailer_a h5 {
    color: #000 !important;
}

.section-head.retailer_m {
    background-color: #000000;
}

.section-head.retailer_s {
    background-color: #2B2B2B;
}

.l-text.Yes {
    color: #ff0084 !important;
}

.text-black {
    color: #000 !important;
}

.text-pink {
    color: #ff0084 !important;
}

.prepaid-card .prepaid-card-detail .section-head h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.02em;
    margin: 0px 0 0px;
    text-align: center;
    color: #fff;
}

.prepaid-card .prepaid-card-detail .section-head h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 0;
    color: #fff;
    position: relative;
    text-align: center;
}


.prepaid-card .prepaid-card-detail .total-price-sec h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
    color: #000123;
    text-align: center;
}

.prepaid-card .prepaid-card-detail .total-price-sec h2 b {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.prepaid-card .prepaid-card-detail .total-price-sec h2 span {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    padding-left: 2px;
}

.prepaid-card .prepaid-card-detail .total-price-sec p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    color: #000;
    margin: -12px 0 10px;
    padding: 0;
}

.prepaid-card .prepaid-card-detail .bottom-sec-t {
    margin: 0;
    padding: 10px 15px 10px;
    border-top: 1px solid #edefed;
}

.prepaid-card .prepaid-card-detail .bottom-sec-t p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #ff0084;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list {
    border-top: 0px solid #E4E4E4;
    padding: 20px 20px;
    margin: 0px 0 0;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list .l-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list .r-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list .r-price b {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail {
    position: relative;
    margin: 50% 0;
    padding: 0;
    text-align: center;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    margin: 0;
    color: #000;
}

.prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.prepaid-card .prepaid-card-list p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1A1E47;
    letter-spacing: -0.02em;
    margin: 0 0 8px;
    text-align: left;
}

.prepaid-card-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.prepaid-card-list ul li {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 8px;
    color: #2B2B2B;
    display: flex;
    gap: 10px;
}

.prepaid-card-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #edefed;
    padding: 5px 0;
}

/* .prepaid-card-list ul li:before {
    content: url('/wp-content/uploads/2023/06/list-check.png');
} */

.prepaid-card .prepaid-card-detail a.btn.pink-btn {
    width: 100%;
    margin: 36px 0 0;
}

.prepaid-card-detail h3 {
    background: #2F3BF5;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 32px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-transform: uppercase;
    color: #fff;
}


.plan-section .pink-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #000;
    padding: 1.0rem 2.5rem;
}

/*new device section*/

#latest-devices-section {
    padding: 100px 0px 0px;
    width: 100%;
    position: relative;
    /* background-color: #FF0084; */
    background-image: url('/wp-content/uploads/2024/09/ellipse-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}

#latest-devices-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;
    font-display: swap;
    color: #fff;
}

#latest-devices-section .latest-devices-carousel {
    padding-top: 30px;
}

#latest-devices-section .layer-planDevice {
    background-color: #FFF;
    margin: 0;
    padding: 40px 0px 0px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
}

.offer-label {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0px;
    padding: 8px 15px;
    background-color: #2F3BF5;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -0.011em;
    color: #fff;
    text-transform: uppercase;
}

.layer-planDevice .badges-box {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    border: 1px solid #FF0084;
    border-radius: 10px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #FF0084;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    font-display: swap;
}

#latest-devices-section .layer-planDevice p.panel-deviceImg {
    margin: 0 0 25px;
    position: relative;
    text-align: center;
}

#latest-devices-section .layer-planDevice p.panel-deviceImg img {
    width: auto;
    height: 130px;
    margin: 0 auto;
}

#latest-devices-section .layer-planDevice h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin: 0 0 5px;
    text-align: center;
    font-display: swap;
}

#latest-devices-section .layer-planDevice h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    letter-spacing: -0.011em;
    text-align: center;
    margin-bottom: 0px;
    display: block;
    margin-left: 0;
    font-display: swap;
}

#latest-devices-section .layer-planDevice p.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -0.02em;
    margin: 0 0 10px;
    text-align: center;
    color: #888888;
    font-display: swap;
}

#latest-devices-section .layer-planDevice p.f-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: left;
    font-display: swap;
}

#latest-devices-section .layer-planDevice p.f-price span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #888888;
    font-display: swap;
}

#latest-devices-section .layer-planDevice p.panel-btn {
    margin: 20px 0 0 auto;
    text-align: center;
}

.color-b {
    color: #000000 !important;
}

#latest-devices-section .layer-planDevice p.panel-btn a {
    background-color: #000000;
    border-radius: 15px 0;
    color: #FFF;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 15px 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

#latest-devices-section .layer-planDevice p.panel-btn a:hover {
    background-color: #000000;
}

.bottom-section {
    /* position: absolute;
left: 0;
bottom: 0; */
    width: 100%;
    display: flex !important;
    align-items: end;
}

.layer-planDevice p .f-price-rm {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #000000;
    font-display: swap;
}

.layer-planDevice p.f-price {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: 800;
    letter-spacing: 0em;
    color: #000000;
    margin-left: 15px;
    text-align: left;
    padding-bottom: 5px;
    font-display: swap;
}

.layer-planDevice p.f-price span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #888888;
    bottom: 0;
    font-display: swap;
}

.layer-planDevice p.f-price sub {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #888888;
    bottom: 0;
    font-display: swap;
}


.bottom-section .free-tag {
    margin-left: 25px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: left;
}

.bottom-section .free-tag b {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    color: #000000;
    letter-spacing: 0em;
    text-align: left;
}

.bottom-section .free-tag span {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #888888;
    letter-spacing: 0em;
    text-align: left;
}

.bottom-section .free-tag-bm {
    margin-left: 25px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: left;
}

.bottom-section .free-tag-bm b {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #FF0084;
    letter-spacing: 0em;
    text-align: left;
}

.bottom-section .free-tag-bm span {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #888888;
    letter-spacing: 0em;
    text-align: left;
}

.offer-block {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F3BF5;
    border: 1px solid #2F3BF5;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 10px;
}

#latest-devices-section .latest-devices-carousel .slick-track {
    display: flex !important;
    width: auto;
}

#latest-devices-section .latest-devices-carousel .slick-disabled {
    opacity: 0.3 !important;
}

#latest-devices-section .latest-devices-carousel .slick-slide {
    margin: 15px 15px;
    text-align: center;
}

#latest-devices-section .latest-devices-carousel .slick-dots {
    left: 0;
}

#latest-devices-section .latest-devices-carousel .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff !important;
}

.slick-dots li button:before {
    font-size: 10px;
}

.term-condition-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    letter-spacing: -0.01em;
}

.term-condition-text a {
    color: #ffffff;
}

.term-condition-text a:hover {
    text-decoration: underline;
}

.mid-graphics-section {
    position: relative;
    padding: 0 0 50px;
}

.mid-graphics-section .inner-banner-sec {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    height: 365px;
    display: flex;
    align-items: center;
}

.mid-graphics-section .inner-banner-sec img {
    display: block;
    width: 100%;
}

.share-icon-sec {
    position: absolute;
    bottom: 0;
    right: 0;
}

.share-btn {
    display: flex;
    align-items: center;
}

.share-btn img {
    height: 40px;
    margin-left: 10px;
}

.share-btn {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.share-btn:hover {
    color: #fff;
    text-decoration: underline;
}


#faq-section {
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    background: #FF0084;
}

#faq-section .faq-sec-border {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 40px 0;
}

#faq-section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    color: #ffffff;
    letter-spacing: -0.02em;
    text-align: center;
}

#faq-section .accordion-item {
    background-color: unset;
    margin-bottom: 0px;
}

#faq-section .accordion-button {
    background-color: unset;
    border: none;
    box-shadow: unset;
    border-radius: 0;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #fff;
}

#faq-section .accordion-button::after {
    opacity: 1;
}

#faq-section .accordion-button::after {
    background-image: none;
    background: url(/wp-content/uploads/2024/09/icon-open.png) no-repeat center center / contain;
}

#faq-section .accordion-button:not(.collapsed)::after {
    background-image: none;
    background: url(/wp-content/uploads/2024/09/icon-hide.png) no-repeat center center / contain !important;
}

#faq-section .accordion-button:focus {
    box-shadow: unset;
}

#faq-section .accordion-body {
    font-size: 16px;
    line-height: 32px;
    background-color: unset;
}

#faq-section .accordion-body h4 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 800;
}

#faq-section .accordion-body ul {
    margin: 15px 0 0 15px;
    padding: 0;
}

#faq-section .accordion-body li {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

#faq-section .accordion-body p {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

#faq-section .viewall-btn {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}
.form-select:disabled {
background-color: #CBCBCB;
}

/*share section*/
/* .social-share-sticky {
position: fixed;
padding: 0em;
bottom: 1%;
left: 1%;
z-index: 999;
font-size: 18px;
border: none;
outline: none;
cursor: pointer;
}

.social-share-sticky .dropdown-toggle::after {
display: none;
}

.social-share-sticky .dropdown-menu-multi {
margin-left: 0.5rem !important;
top: -75% !important;
left: 25% !important;
padding: 0.5rem;
width: 18em;
}

.social-share-sticky .dropdown-row > a.dropdown-item {
display: inline-block;
padding: 0.25em;
width: 20%;
color: #fff;
font-size: 0;
}

.social-share-sticky .dropdown-row p {
display: inline-block;
margin: 0rem .5rem;
}

#socialShareModal .dropdown-item {
display: inline-block;
padding: 0em;
width: 33%;
}

@media (min-width: 576px) {
.social-share-sticky .dropdown-menu-multi {
left: 0 !important;
}
}
@media (min-width: 992px) {
.social-share-sticky {
position: fixed;
padding: 0em 0.5em;
top: 50%;
left: 0;
z-index: 999;
font-size: 18px;
border: none;
outline: none;
cursor: pointer;
}

.social-share-btn span {
display: block;
line-height: 1.25;
}

.social-share-btn .fa-share-alt {
margin-top: .5rem;
}

.social-share-sticky .dropdown-menu-multi {
transform: translate3d(40px, 0px, 0px);
margin-left: 0.5rem !important;
top: 0 !important;
left: 0 !important;
padding: 0.5rem;
width: 24em;
}

.social-share-sticky .dropdown-row > a.dropdown-item {
display: inline-block;
padding: 0.25em;
width: 50%;
color: #000;
font-size: 16px;
}
}

@media (min-width: 1200px) {
.social-share-sticky:hover .btn-outline-success,
.social-share-sticky .dropup:hover .btn-outline-success
.social-share-sticky .dropdown-toggle:hover + .btn-outline-success,
.social-share-sticky .dropdown-menu-multi:hover .btn-outline-success {
background-color: #28a745;
border-color: #28a745;
color: #fff;
}

.social-share-sticky:hover .dropdown-menu-multi,
.social-share-sticky .dropup:hover .dropdown-menu-multi,
.social-share-sticky .dropdown-toggle:hover + .dropdown-menu-multi,
.social-share-sticky .dropdown-menu-multi:hover {
display: block;
}
} */

/*share section end*/

@media only screen and (min-width: 1600px) and (max-width: 2880px) {

    #hero-slider .carousel-item img {
        width: 100%;
        height: 405px;
        /*405*/
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    #hero-slider .carousel-item .inner-content-sec.raya-h-tag {
        margin-top: 0;
    }

    #hero-slider .carousel-item article {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    #hero-slider .carousel-item .inner-content-sec {
        margin: 5% auto;
        padding: 0px 0 0 0%;
        /* position: absolute;
        top: 15%;
        left: 5%;
        z-index: 99; */
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        /* align-items: center; */
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
    }

    #hero-slider .carousel-item .inner-content-sec h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        line-height: 72px;
        font-weight: 800;
        color: #ffffff;
        letter-spacing: -0.02em;
        margin: 15px 0 15px;
        font-display: swap;
    }

    #hero-slider .carousel-item .inner-content-sec p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #ffffff;
        letter-spacing: -0.02em;
        font-display: swap;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-arrow-sec {
        margin-top: 50px;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-arrow-sec img {
        width: 25px;
        height: auto;
        margin: 0 auto;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-sec {
        margin: 20px 0 0;
        padding: 0;
    }


    .mid-graphics-section .inner-banner-sec {
        height: 370px;
    }

    #faq-section {
        margin-top: 0px !important;
    }
}

@media only screen and (max-width: 992px) {
    .plan-section{
        padding: 30px 0px 55px;
    }

    .plan-section h2{
        font-size: 28px;
        margin-bottom: 0;
    }  

    .plan-section p{
        font-size: 16px;
    }

    .prepaid-card .prepaid-card-detail .section-head h5{
        font-size: 16px;
    }

    .prepaid-card .prepaid-card-detail .section-head{
        padding:0;
        height: 70px;
    }

    .select-w .form-select{
        font-size: 12px;
        margin-top: 0;
    }

    .prepaid-card .prepaid-card-detail .bottom-sec-t p{
        font-size:10px;
        line-height: 14px;
    }
    .prepaid-card .prepaid-card-detail .total-price-sec h2 b{
        font-size: 14px;
    }

    .plan-section .pink-btn{
        font-size: 12px;
        padding: 1rem;
        line-height: 8px;
    }

    .share-icon-sec {
        
    }
    .share-btn{
        font-size: 10px;
    }
    .share-btn img {
        height: 30px;
        margin-left: 10px;
    }
    #hero-slider .carousel-item img {
        width: 100%;
        height: auto;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    #hero-slider .carousel-item .inner-content-sec.raya-h-tag {
        margin-top: 0;
    }

    #hero-slider .carousel-item .inner-content-sec {
        margin: 12% auto;
        padding: 0px 0 0 0%;
        /* position: absolute;
            top: 15%;
            left: 5%;
            z-index: 99; */
        width: 95%;
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec img {
        width: 280px;
        height: auto !important;
        margin: 0 auto 20px;
        display: block;
    }

    #hero-slider .carousel-item .inner-content-sec h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        line-height: 72px;
        font-weight: 800;
        color: #ffffff;
        letter-spacing: -0.02em;
        margin-bottom: 15px;
        font-display: swap;
    }

    #hero-slider .carousel-item .inner-content-sec p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #ffffff;
        letter-spacing: -0.02em;
        font-display: swap;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-sec {
        margin: 30px 0 0;
        padding: 0;
    }

    .carousel-indicators {
        margin-bottom: 1rem;
    }

    #slider-iphone .carousel-item .slider-content h1 {
        font-size: 48px;
        line-height: 56px;
    }

    .plan-iner-sec .box-container .box .sharing .share-icon img {
        height: 28px;
    }

    .plan-iner-sec .box-container .box .sharing .form-select {
        font-size: 12px;
        line-height: 22px;
        background-size: 8px 5px;
        padding:.375rem 1.75rem .5rem .75rem;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list {
        padding: 0px 10px;
        margin: 0px 0 0;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .l-text {
        font-size: 10px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .r-price {
        font-size: 14px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .r-price b {
        font-size: 10px;
    }

    .prepaid-card .prepaid-card-detail .total-price-sec h2 {
        font-size: 16px;
        line-height: 46px;
    }

    .prepaid-card .prepaid-card-detail .total-price-sec p {
        font-size: 10px;
        line-height: 20px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail h2 {
        font-size: 14px;
        line-height: 24px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail p {
        font-size: 10px;
        line-height: 20px;
    }

    .top-text-box {
        display: none;
    }
    .plan-iner-sec .box-container .box .sharing{
        justify-content: center;
    }

    .plan-iner-sec .top-text-box h3 {
        font-size: 12px;
        line-height: 18px;
    }

    .plan-iner-sec .box-container .box .by_default li {
        padding: 5px 0;
    }

    .plan-details-sec .col-lg-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .share-icon-sec {
        position: unset;
        bottom: 0;
        right: 0;
        margin: 40px auto 0;
        display: flex;
        justify-content: center;
    }

    .mid-graphics-section .inner-banner-sec {
        height: auto;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .plan-section {
        clip-path: unset !important;
    }

    #hero-slider .carousel-item .inner-content-sec {
        margin: 12% auto;
        padding: 0;
        /* position: absolute;
            top: 0%;
            left: 2%; */
        width: 95%;
    }

    #hero-slider .carousel-item img {
        height: auto;
        -o-object-fit: unset;
        object-fit: unset;
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec {
        position: relative;
        display: block;
        width: 95%
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec img {
        width: 300px;
        margin: 0 auto 15px;
    }

    #hero-slider .carousel-item .inner-content-sec h1 {
        font-size: 60px;
        line-height: 72px;
        margin-top: 0px;
        text-align: center;
        margin-bottom: 15px;
    }

    #hero-slider .carousel-item .inner-content-sec p {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    #hero-slider .carousel-item .inner-content-sec h1 br {
        display: none;
    }

    #hero-slider .carousel-item .inner-content-sec p br {
        display: unset;
    }


    #hero-slider .carousel-item .inner-content-sec .btn-sec {
        margin: 20px auto;
        padding: 0;
        text-align: center;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-sec .pink-btn,
    #hero-slider .carousel-item .inner-content-sec .btn-sec .blue-btn {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-sec img {
        width: auto !important;
        height: 35px !important;
        margin: 0px auto;
    }

    #hero-slider .carousel-item .inner-content-sec .pricing {
        width: auto;
        display: flex;
        margin-top: 15px;
        margin: 0 auto;
    }

    #hero-slider .carousel-item .inner-content-sec .pricing h4 {
        font-weight: 800;
        font-size: 48px;
        line-height: 31px;
        padding-top: 5px;
        position: relative;
        margin-left: 48px;
    }

    #hero-slider .carousel-item .inner-content-sec .pricing h4 sup {
        font-size: 24px;
        line-height: 24px;
        height: 40px;
        left: -45px;
        top: 0px;
    }

    .carousel-indicators {
        margin-bottom: 0.5rem;
    }

    .container, .container-sm {
        max-width: 100% !important;
    }

    .plan-iner-sec .box-container .box .by_default li {
        padding: 5px 0;
    }

    .plan-iner-sec .box-container .box .sharing{
        justify-content: center;
    }
    .container, .container-sm {
        max-width: 100% !important;
    }
    .plan-section {
        padding: 50px 0px 70px;
    }
    .prepaid-card .prepaid-card-detail .section-head {
        height: 70px;
    }

    .plan-main-section h5 {
        font-size: 26px;
        line-height: 34px;
        padding: 0 15px 20px;
    }
    .plan-details-sec {
        scroll-snap-type: x mandatory;
        overflow-y: auto;
    }
    .select-w .form-select{
        background-size: 14px 8px;
    }

    .form-select {
        padding: .35rem 2.25rem .35rem .75rem;}

    .plan-details-sec .col-lg-3 {
        width: 25%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .prepaid-card .prepaid-card-detail .section-head h5 {
        font-size: 16px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list {
        padding: 20px 10px 10px;
        margin: 0px 0 0;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .l-text {
        font-size: 10px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .r-price {
        font-size: 13px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .r-price b {
        font-size: 10px;
    }

    .prepaid-card .prepaid-card-detail .total-price-sec h2 {
        font-size: 26px;
        line-height: 36px;
    }
    .prepaid-card .prepaid-card-detail .total-price-sec h2 b {
        font-size: 16px;
    }

    .prepaid-card .prepaid-card-detail .total-price-sec p {
        font-size: 12px;
        line-height: 24px;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail h2 {
        font-size: 18px;
        line-height: 26px !important;
    }

    .prepaid-card .prepaid-card-detail .prepaid-card-list .n-Avail p {
        font-size: 14px;
        line-height: 18px;
    }



    .devices-section h2 {
        font-size: 26px;
        line-height: 34px;
    }

    .devices-section p {
        font-size: 14px;
    }

    .panel-deviceImg .offer-img {
        top: -20px;
        right: -20px;
        z-index: 99;
    }

    .panel-deviceImg .offer-img img {
        width: 70px;
    }

    .thead-bg tr th {
        padding: 0.5rem 0.5rem;
    }

    tr,
    th,
    td {
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
    }

    .usp-section .row.p-5 {
        padding: 1rem !important;
        padding-top: 3rem !important;
    }

    .usp-section h2 {
        display: none;
    }

    #contract-section .nav-tabs .nav-link {
        font-size: 16px;
    }

   

    .top-text-box {
        display: none;
    }

    .plan-iner-sec .top-text-box .content {
        width: 100%;
    }

    .plan-iner-sec .box-container .box .by_default {
        padding: 0;
    }

    .plan-iner-sec .top-text-box h3 {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .plan-iner-sec .box-container .box .sharing .form-select {
        font-size: 12px;
        line-height: 22px;
        background-size: 14px 8px;
    }

    .share-icon-sec {
        position: unset;
        margin: 40px auto 0;
        display: flex;
        justify-content: center;
    }

    .mid-graphics-section .inner-banner-sec {
        height: auto;
    }


    #latest-devices-section {
        padding: 100px 0px 50px;
    }

    #latest-devices-section h2 {
        font-size: 28px;
        line-height: 36px;
        margin-left: 0;
    }

    .seemore-sec a {
        font-size: 12px;
        line-height: 18px;
    }

    .seemore-sec .iconify {
        width: 20px;
        height: 20px;
    }

    .seemore-sec .iconify img {
        width: 6px;
    }

    #latest-devices-section .latest-devices-carousel {
        padding-top: 15px;
    }

    #latest-devices-section .latest-devices-carousel .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #fff;
    }

    #latest-devices-section .latest-devices-carousel .slick-list {
        padding: 0 15% 0 0 !important;
    }


    .devices-section p {
        font-size: 16px;
    }



    #faq-section {
        padding: 30px 0px !important;
    }

    #faq-section h2 {
        font-size: 28px;
        line-height: 36px;
    }

    #faq-section .accordion-item {
        margin: 0 15px;

    }

    #faq-section .accordion-button {
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
    }

    #faq-section .accordion-body h4 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 800;
    }

    #faq-section .accordion-body ul {
        margin: 15px 0 0 15px;
        padding: 0;
    }

    #faq-section .accordion-body li {
        margin: 0;
        padding: 0 0 5px;
        font-size: 13px;
        line-height: 20px;
    }

    #faq-section .accordion-body p {
        font-size: 13px;
        line-height: 20px;
    }

    #faq-section .viewall-btn {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }
}

/* @media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 100%;
    }
} */
/* @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) */

@media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {

    #hero-slider .carousel-item .inner-content-sec {
        margin: 12% auto 0;
        padding: 0;
        /* position: absolute;
        top: 0%;
        left: 2%; */
        width: 95%;
    }

    #hero-slider .carousel-item .inner-content-sec.raya-h-tag {
        margin-top: 70px;
    }

    #hero-slider .carousel-item img {
        height: auto;
        -o-object-fit: unset;
        object-fit: unset;
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec {
        position: relative;
        display: block;
        width: 95%
    }


    #hero-slider .carousel-item .inner-content-sec .title-sec .cimb-bank-logo {
        width: auto !important;
        height: 35px !important;
        margin: 0 auto;
    }

    #hero-slider .carousel-item .inner-content-sec .title-sec img {
        width: 250px;
        margin: 0 auto 15px;
    }

    #hero-slider .carousel-item .inner-content-sec h1 {
        font-size: 39px;
        line-height: 46px;
        margin-top: 0px;
        text-align: center;
        margin-bottom: 10px;
    }

    #hero-slider .carousel-item .inner-content-sec p {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    #hero-slider .carousel-item .inner-content-sec p br {
        display: unset;
    }

    #hero-slider .carousel-item .inner-content-sec h1 br {
        display: none;
    }

    /* #hero-slider .carousel-item .inner-content-sec .btn-arrow-sec {
        margin-top: 30px;
    } */

    #hero-slider .carousel-item .inner-content-sec .btn-sec {
        margin: 10px auto;
        padding: 0;
        text-align: center;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-sec .pink-btn,
    #hero-slider .carousel-item .inner-content-sec .btn-sec .blue-btn {
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
    }

    #hero-slider .carousel-item .inner-content-sec .btn-sec img {
        width: auto !important;
        height: 35px !important;
        margin: 0px auto;
    }

    #hero-slider .carousel-item .inner-content-sec .pricing {
        width: auto;
        display: flex;
        margin-top: 15px;
        margin: 0 auto;
    }

    #hero-slider .carousel-item .inner-content-sec .pricing h4 {
        font-weight: 800;
        font-size: 40px;
        line-height: 31px;
        padding-top: 5px;
        position: relative;
        margin-left: 48px;
    }

    #hero-slider .carousel-item .inner-content-sec .pricing h4 sup {
        font-size: 24px;
        line-height: 24px;
        height: 40px;
        left: -45px;
        top: 0px;
    }

    .usp-section .row.p-5 {
        padding: 1rem !important;
        padding-top: 3rem !important;
    }

    .top-text-box {
        display: none;
    }

    .plan-section {
        clip-path: unset
    }

    #contract-section .nav-tabs .nav-link {
        font-size: 14px;
    }

    .plan-iner-sec .box-container .box .by_default li {
        padding: 10px 8px;
    }

    .plan-iner-sec .box-container .box .sharing .share-icon img {
        padding: 0 10px;
    }

    .plan-iner-sec .box-container {
        display: inline-block;
        width: 100%;
    }

    .plan-iner-sec .box-container .box .by_default {
        width: 100%;
        padding: 0;
    }

    .plan-iner-sec .box-container .box {
        border-bottom: 1px solid #ddd;
        width: 100%;
        /* display: flex;
        justify-content: space-between; */
    }

    .plan-iner-sec .box-container .box:last-child {
        border-bottom: 0px solid #ddd;
    }

    .plan-iner-sec .box-container .box .sharing {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .plan-iner-sec .box-container .box .sharing p {
        font-size: 16px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
        width: 100%;
        margin-right: auto;
    }


    .plan-iner-sec .top-text-box {
        position: relative;
        display: none;
    }

    .plan-section .pink-btn {
        font-size: 16px;
    }

    .mid-graphics-section .inner-banner-sec {
        height: auto;
    }

    #latest-devices-section {
        padding: 50px 0px 50px;
    }

    .devices-section h2 {
        font-size: 26px;
        line-height: 34px;
    }

    .devices-section p {
        font-size: 14px;
    }

    .dropdown.d-md-none {
        border: 1px solid #FF0084;
        margin: 0 30px;
    }

    #dropdownMenuButton {
        font-size: 10px;
        font-weight: 700;
        color: #FF0084;
        width: 100%;
    }

    .plan-main-section h5 {
        font-size: 26px;
        line-height: 34px;
        padding: 0 15px 20px;
    }


    .panel-deviceImg .offer-img {
        top: -20px;
        right: -20px;
        z-index: 99;
    }

    .panel-deviceImg .offer-img img {
        width: 70px;
    }

    .thead-bg tr th {
        padding: 0.5rem 0.5rem;
    }

    tr,
    th,
    td {
        font-size: 11px;
        line-height: 15px;
        font-weight: 700;
        height: 58px;
    }

    .table-bordered>:not(caption)>*>* {
        border-width: 1px 1px;
    }

    .myTable {
        border-right: solid 1px #DDEFEF;
        border-collapse: separate;
        border-spacing: 0;
        font-size: 11px;
        line-height: 15px;
    }

    .thead-bg tr th:first-child {
        height: 58px;
    }

    .my-scroller {
        overflow-x: scroll;
    }

    .myTable .my-sticky-col {
        /* border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF; */
        left: 0px;
        position: sticky;
        top: auto;
        min-width: 130px;
        background: #fff;
        height: 58px;
        z-index: 1000;
    }
    .plan-details-sec {
        margin: 20px 0 !important;
        overflow: hidden;
        overflow-x: auto;
    }
        .plan-details-sec .col-lg-3 {
            width: 90%;
            padding-left: 5px;
            padding-right: 5px;
        }


    .plan-section h2 {
        font-style: normal;
        font-size: 26px;
        line-height: 34px;
    }

    .plan-section p {
        font-size: 16px;
        line-height: 24px;
    }


    .usp-section h2 {
        display: none;
    }

    #latest-deals-section {
        width: 100%;
        min-height: 530px;
    }

    #latest-deals-section {
        padding: 36px 0 !important;
    }

    #latest-deals-section h2 {
        font-size: 23px;
        line-height: 28px;
        margin-left: 15px;
        display: inline-block;
    }

    #latest-deals-section .latest-deals-carousel {
        padding-top: 15px;
    }

    #latest-deals-section .latest-deals-carousel .slick-slide {
        margin: 10px 0px;
    }

    #latest-deals-section .latest-deals-carousel .slick-slide:nth-child(1) {
        margin-left: 20px;
    }

    #latest-deals-section .latest-deals-carousel .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #ff0084;
    }

    #latest-deals-section .latest-deals-carousel .slick-list {
        padding: 0 20% 0 0 !important;
    }

    #latest-devices-section {
        width: 100%;
        min-height: auto;
    }

    #latest-devices-section h2 {
        font-size: 28px;
        line-height: 36px;
        margin-left: 0;
        display: inline-block;
    }

    .seemore-sec a {
        font-size: 12px;
        line-height: 18px;
    }

    .seemore-sec .iconify {
        width: 20px;
        height: 20px;
    }

    .seemore-sec .iconify img {
        width: 6px;
    }

    #latest-devices-section .latest-devices-carousel {
        padding-top: 15px;
    }

    #latest-devices-section .latest-devices-carousel .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #fff;
    }

    #latest-devices-section .latest-devices-carousel .slick-list {
        padding: 0 15% 0 0 !important;
    }

    .content-section-mid {
        margin: 15px 0 20px;
        padding: 0;
        justify-content: center;
    }

    .content-section-mid .content-sec {
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        text-align: left;
        color: #ffffff;
        border-right: 1px solid #fff;
        width: auto;
        display: flex;
        align-items: center;
    }


    #faq-section {
        padding: 30px 0px !important;
    }

    #faq-section h2 {
        font-size: 28px;
        line-height: 36px;
    }

    #faq-section .faq-sec-border {
        border: 0px solid #fff;
        padding: 0px 0;
    }

    #faq-section .accordion-item {
        margin: 0 15px;
    }

    #faq-section .accordion-button {
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
    }

    #faq-section .accordion-body h4 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 800;
    }

    #faq-section .accordion-body ul {
        margin: 15px 0 0 15px;
        padding: 0;
    }

    #faq-section .accordion-body li {
        margin: 0;
        padding: 0 0 5px;
        font-size: 13px;
        line-height: 20px;
    }

    #faq-section .accordion-body p {
        font-size: 13px;
        line-height: 20px;
    }

    #faq-section .viewall-btn {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
    }
}