    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        #slider-yes-home .carousel-item {
            min-height: 27vh;
        }
        .top-pink-bar p {
            padding: 0px 40px;
        }
        .mega-dropdown-menu>li {
            float: none;
            margin-bottom: 20px;
        }
        .footer .menulist {
            margin-bottom: 20px;
        }
        .footer .copyright p {
            margin-bottom: 20px;
        }
        .footer .copyright {
            margin-top: 10px;
        }
        .footer .ctm-logo {
            position: static;
        }
        #quick-action .whitebox {
            padding: 37px 24px;
        }
        #wfh {
            background-image: none;
            padding-top: 0px;
            margin: 0px;
            text-align: center !important;
        }
        #wfh .wfh-visual {
            display: none;
        }
        #amazing-things {
            padding-top: 0px;
        }
        #amazing-things h1 {
            font-size: 42px;
            line-height: 46px;
        }
        #amazing-things h2 {
            font-size: 24px;
            line-height: 33px;
        }
        #amazing-things p {
            font-size: 18px;
            line-height: 23px;
        }
        #amazing-things p.small {
            font-size: 12px;
        }
        #customer-review {
            padding-top: 60px;
        }
        #customer-review h1 {
            font-size: 33px;
            line-height: 42px;
        }
        #faq-section {
            padding-top: 0px;
        }
        #popular-deals {
            padding-top: 0px;
        }
        #popular-deals h1 {
            font-size: 33px;
        }
        #popular-deals .deal-box {
            margin-bottom: 15px;
            height: auto !important;
        }
        #amazing-things .hunt-yes-logo {
            margin-top: 30px;
        }
        #newsletter h1 {
            font-size: 30px;
        }
        #newsletter p {
            font-size: 19px;
        }
        #newsletter .newsletter-check {
            margin-top: 0px;
        }
        #inner-banner {
            margin-bottom: 50px;
        }
        .signup-modal .signup-content {
            padding: 40px 0px;
        }
    }
    /* IPAD Portrait and Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
        #newsletter .newsletter-check {
            margin-top: 17px;
            margin-bottom: 20px;
        }
        #newsletter p {
            margin-bottom: 20px;
        }
        #popular-deals .deal-box {
            margin-bottom: 15px;
            height: auto !important;
        }
        .signup-modal .signup-content {
            padding: 40px 0px;
        }
        #slider-yes-home .carousel-item {
            min-height: 32vh;
        }
        .mega-dropdown-menu>li {
            float: none;
            margin-bottom: 20px;
        }
    }